<!DOCTYPE html>
<html lang="en">
        <head>
        <title>Ninja Lore</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">  
    </head>
    <body>
        <h1>About Ninjas</h1>
        <p></p>
        <h3>Actually, not every ninja wore black pajamas and used throwing stars.  Although they did sometimes carry out assassinations, they were more often employed in espionage and disinformation campaigns.</h3>
    </body>
</html>