<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birthdays by Month</title>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Dashboard</h1>
        
        <div class="confirm">
                <p style='color: green'>Logged in as {{ request.session.user_first_name }}</p>
        </div>
        <h2>Birthdays by Month</h2>
    </body>