<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Saiyan Power Levels</h1>
        <form (submit)="onSubmit()">
            <div class="form-row">
              <div class="col-5">
                <label for="powerLevel">Initial Power Level</label>
                <input type="number" class="form-control" id="level" name="level" [(ngModel)]="power.level" min="1" max="100">
                <button type="submit" class="btn btn-primary">Calculate Powers</button>
            </div>
            <div class="col">
              <img width="300" src="/assets/img/saiyan_img.jpg">
            </div>
            {{ power.level }}
          </div>
        </form>
      </div>
    </div>
  <div class="row">
    <div class="col">
          <app-human></app-human>
    </div>
    <div class="col">
      <app-saiyan></app-saiyan>
    </div>
    <div class="col">
      <app-super-saiyan-one></app-super-saiyan-one>
    </div>
  <div class="row">
    <div class="col">
          <app-super-saiyan-two></app-super-saiyan-two>
    </div>
    <div class="col">
      <app-super-saiyan-three></app-super-saiyan-three>
    </div>
    <div class="col">
      <app-super-saiyan-four></app-super-saiyan-four>
    </div>
</div>
