<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8">
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}" media="screen" title="no title">   
    </head>
    <body>
        <form class='survey' action='/process/' method='post'>
            {% csrf_token %}
            <p>Your Name: <input type='text'name='name'></p>
            <p>Dojo Location: <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
                <option value="Tatooine">Tatooine</option>
            </select></p>
            <p>Favorite language: <select name="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Swift">Swift</option>
                <option value="Klingon">Klingon</option>
            </select></p>
            <p>Comment (optional):</p>
            <p><textarea name="comment" rows="10" cols="30">
                Tell us what you think!
            </textarea></p>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>