<form (submit)="create_note(new_note_form); new_note_form.reset()" #new_note_form='ngForm'>
  <div class='form-group'>
    <label for="newNote">Note:</label>
    <textarea
    required
    minlength='3'
    name='note'
    class="form-control"
    rows='4'
    [(ngModel)]='new_note.note'
    #noteText='ngModel'
    placeholder="Enter your note of note..."></textarea>
  </div>
  <div class='alert alert-danger'
    *ngIf='noteText.touched && !noteText.valid'>
    <div *ngIf='noteText.errors?.required'>
      A note is required.
    </div>
    <div *ngIf="noteText.errors?.minlength">
      note should be minimum {{noteText.errors.minlength.requiredLength}} characters.
    </div>
  </div>
  
  <input [disabled]='!new_note_form.valid' class="btn btn-primary" type="submit" value='Add note'>
</form>
<br>
<div class="card border-primary mb-3" *ngFor='let note of notes'>
    
  <div class="card-body text-primary">
    
          <blockquote class="blockquote mb-0">
            <p>{{ note.note }}</p>
            <footer class="blockquote-footer">Noted on: {{ note.createdAt | date:"medium"}}</footer>
          </blockquote>
    </div>
  </div>