<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players Index</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Ninja Gold Players</h1>
        <table style="width:100%">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Gold</th>
                <th>Last played</th>
            </tr>
            {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td><a href={% url 'my_show' player.id %}>{{ player.first_name }} {{ player.last_name }}</a></td>
                <td>{{ player.gold }}</td>
                <td>{{ player.updated_at }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'my_dashboard'%}">Go Back</a>
    </body>
</html>