<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>You reached a thing!</h1><p>Feels good?</p><script>alert('This is annoying')</script>
        <h2>Express?</h2>
        <h3>Hello, <%= name %></h3>
        <ul>
            <% for (num of nums) { %>
                <li><%= num %></li>
            <% } %>
        
        </ul>
    </body>
</html>