<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hero Details</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <p></p>
            <p>Hero name: {{ hero.hero_name }} </p>
            <p>Likes: {{ hero.likes }}</p>
            
            <p>Powers: {% for x in hero.powers.all%}
                <p>{{x.power}}</p>
                {%endfor%}</p>
        </div>
        <form class='' action='{% url 'givePower' id=hero.id %}' method='post'>
            {% csrf_token %}
            <p>Add a power: <select name="newPower">
                {% for item in powers_list %}   
                    <option value="{{ item.id }}">{{ item.power }}</option>
                {% endfor %}
            </select></p>
            <input type="checkbox" name="addMore" value="addMore"> Check this box if you would like to add more powers.
            <input type='submit' value='Submit'>            
        </form>
    </body>
</html>