<div class="card text-white bg-info mb-3" >
    <div class="card-header">Main</div>
    <div class="card-body">
      <h4 class="card-title">This is the main component.</h4>
      <p class="card-text">Deadlights reef sails lad barkadeer Blimey grog blossom code of conduct sutler. Red ensign boom blow the man down matey flogging black spot jack bilge rat. Yawl Corsair aye mizzen brigantine gaff flogging tackle. Scuppers fire ship Pieces of Eight lookout hail-shot nipperkin Pirate Round tender.</p>
      <p class="card-text">Port handsomely spirits Jack Ketch Privateer deadlights take a caulk carouser. Yardarm Sea Legs flogging aft snow gangplank Chain Shot hardtack. Doubloon jib aye fluke pirate pink warp grog. Shrouds piracy black spot tack list lugger dead men tell no tales mizzen.</p>
    </div>
  </div>