<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login & Reg | Home</title>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Welcome</h1>
        <form action="{% url 'my_register' %}" method='post'>
            {% csrf_token %}
            <label for="user_name">Name:<input type="text" name="user_name" id="user_name"></label>
            <label for="alias">Alias:<input type="text" name="alias" id="alias"></label>
            <label for="email">Email:<input type="text" name="email" id="email"></label>
            <label for="password">Password:<input type="password" name="psw" id="psw"></label>
            <label for="confirm">Confirm pw:<input type="password" name="cfm" id="cfm"></label>
            <input type="submit" value="Register">
        </form>
        <hr>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {%if message.tags == 'error'%}
                    <li style='color: red'>{{ message }}</li>
                {% elif message.tags == 'success'%}
                    <li style='color: green'>{{ message }}</li>
                {% endif %}                   
            {% endfor %}
        </ul>
        {% endif %}
        <hr>
        <h1>Login</h1>
        <form action="{% url 'my_login' %}" method='post'>
            {% csrf_token %}
            <label for="email">Email:<input type="text" name="email" id="email"></label>
            <label for="password">Password:<input type="password" name="psw" id="psw"></label>
            <input type="submit" value="Login">
        </form>
    </body>
</html>